@page "/validation-policies"

<PageTitle>Policies</PageTitle>
<h1>Policies</h1>

<FluentNavLink Href="/validation-policies/create" Icon="@(new Icons.Filled.Size48.Add())" IconColor="Color.Accent">Create</FluentNavLink>

@if (_validationPolicies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <FluentStack>
        @foreach (var policy in _validationPolicies)
        {
            <FluentCard Width="300px" Height="200px">
                <FluentLabel Typo="Typography.H3"> Policy @policy.Name </FluentLabel>
                <FluentButton Appearance="Appearance.Accent" @onclick="() => EditPolicy(policy.Id)">Edit</FluentButton>
            </FluentCard>
        }
    </FluentStack>
}
