@page "/validation-policies"

<PageTitle>Policies</PageTitle>
<h1>Policies</h1>

<FluentNavLink Href="/validation-policies/create" Icon="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())" IconColor="Color.Accent">Create</FluentNavLink>

@if (_validationPolicies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Rules</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var policy in _validationPolicies)
            {
                <tr>
                    <td>@policy.Name</td>
                    @* TODO: think about how to display rules *@
                    @* <td>@policy.Content</td> *@
                    <td>
                        <FluentButton Appearance="Appearance.Accent" @onclick="() => EditPolicy(policy.Id)">Edit</FluentButton>
                        @* <button @onclick="() => DeletePolicy(policy.Id)">Delete</button> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
