@page "/"

<PageTitle>Home</PageTitle>

<h1>Project Zeya</h1>

Zeya is a tool for monitoring and validating GitHub repositories that contain the source code of .NET solutions.
Zeya allows you to validate repositories according to pre-defined rules and find problems in repositories.
